name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: go.mod

      - name: Format with goimports
        run: |
          go install golang.org/x/tools/cmd/goimports@0.19.0
          if [ "$(goimports -l --format-only . | wc -l)" -gt 0 ];
             then
             goimports -l --format-only .
             exit 1
          fi

      - name: Run go vet
        # TODO: Enforce when possible.
        run: |
          go vet ./... || true

      - name: Run tests
        run: |
          go test -v -race ./...

      - name: Run go mod tidy
        run: |
          go mod tidy
          git diff --exit-code -- go.mod go.sum

      - name: Run go build
        run: go build ./pkg/sloop/main.go
